<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- <h1>Welcome to static page</h1>
    <button class="btn btn-danger">hello</button> -->

    <!-- // nav bar section  -->

    {{>navbar}}


    <!-- // main header  -->


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.gif" alt="suraj" class="img-fluid" title="Suraj verma">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>
                        <h2>Welcome to Realweather app</h2>
                        </p>
                        <h1> A <span class="text_clr">Weather </span>app developed using OpenWeather API.</h1>
                        <a href="https://openweathermap.org/"><button>For More info</button></a>
                    </div>

                    <!-- right side div -->


                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->


    {{>footer}}

</body>

</html>